.home-content {
  min-height: 400px;
  background-color: rgb(245,245,225, 0.4);
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-size: 15px;
  padding: 20px
}

.home-background {
  /* background-repeat: no-repeat; */
  width: auto;
  height: 1000px;
  /* background-size: cover; Resize the background image to cover the entire container */
  /* background-position: center; Center the image */
}

.title-image {
  width: 60%;
  min-width: 200px;
}

.home-wrapper {
  background-image: url("../../hackathon_background.jpg");
  background-size: cover;
  margin-left: -10px;
  margin-top: -3px;
  text-align: center;
}
