:root {
  --primary: rgba(235, 235, 235, 0.8);
  --primary-accent: rgba(163, 163, 163, 0.6);
  --secondary: #f0f0f0;
  --gold-accent: #fca311;
  --black: #000000;
  --blue-accent: #4670c3;
}

* {
  margin: 0;
  padding: 0;
}
